@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body,
p {
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

button {
  margin-bottom: 10px;
  background-color: none;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

select {
  max-width: 100%;
}

label {
  text-align: left;
  font-size: 1.25em;
  color: #777776;
  display: block;
}

header {
  text-align: center;
}

main {
  padding: 3em;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column,
.center-column,
.right-column {
  width: 30%;
  min-width: 16em;
  margin: 0 1.5em;
  text-align: center;
}

/* Left Column */
#client-name {
  text-align: left;
  margin-bottom: 1em;
  font-family: "Helvetica Light", Helvetica, sans-serif;
  font-size: 1.25em;
  color: #777776;
}

select {
  width: 300px;
  height: 60px;
  margin-bottom: 10px;
}

.cute-font {
  font-family: "Share Tech Mono", "Courier New", Courier, fixed-width;
}

/* Center Column */
input {
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 1em;
  width: 100%;
  height: 2.5em;
  padding: 0;
  display: block;
  margin: 10px 0;
  transform: scale(.96);
}

div#volume-indicators {
  padding: 10px;
  margin-top: 20px;
  width: 500px;
  text-align: left;
}

div#volume-indicators > div {
  display: block;
  height: 20px;
  width: 0;
}

/* Right Column */
.right-column {
  padding: 0 1.5em;
}



#log {
  text-align: left;
  border: 1px solid #686865;
  padding: 10px;
  height: 9.5em;
  overflow-y: scroll;
  display: grid;
}

.log-entry {
  color: #686865;
  font-family: "Share Tech Mono", "Courier New", Courier, fixed-width;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-left: 1em;
  text-indent: -1.25em;
  width: 90%;
}

#button-hangup-incoming{
  display: flex;
  align-items: center;
  background-color: #ec2f0e;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Standard Styles*/
.d-flex {
  display: flex;
} 

.justify-center {
  justify-content: center;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

/* Other Styles */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.hidden {
  display: none;
}

button:disabled {
  cursor: not-allowed;
}

.row {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.digit, .dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
}

.sub {
  font-size: 0.8rem;
  color: grey;
}

.container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: 420px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.call-controls {
  max-width: 100%;
  transform: scale(0.85);
  position: relative;
  inset: -2.7em 0 0 -1.2em;
}

#button-call {
  display: flex;
  align-items: center;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

#hangup {
  display: flex;
  align-items: center;
  background-color: #ec2f0e;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

.botrow {
  margin: 0 auto;
  width: 280px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.digit:active, .dig:active {
  background-color: #e9e9e9;
}

#button-call:hover {
  background-color: #81c784;
}

#hangup:hover {
  background-color: #ec6c55;
}

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}

